## {{ ansible_managed }}

ProxyRequests Off
ProxyPreserveHost On


<VirtualHost *:80>

  # Use HTTP Strict Transport Security to force client to use secure connections only
  
  ServerName			{{ nexus_base_url }}
  AllowEncodedSlashes   On

  ProxyPassMatch  ^/server-status !
  ProxyPass 	   /	http://localhost:8081{{ nexus_context_path }} nocanon
  ProxyPassReverse /	http://localhost:8081{{ nexus_context_path }}

  ErrorLog /var/log/httpd/error_log
  CustomLog /var/log/httpd/access_log json
</VirtualHost>

LoadModule status_module modules/mod_status.so
ExtendedStatus On
