## {{ ansible_managed }}

[Unit]
Description=Sonatype Nexus 3
After=network.target

[Service]
Type=forking
LimitNOFILE=65536
ExecStart={{ nexus_install_dir }}/bin/nexus start
ExecStop={{ nexus_install_dir }}/bin/nexus stop
User={{ nexus_user }}
Group={{ nexus_group }}
Restart=on-abort

[Install]
WantedBy=multi-user.target
